NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

APIFY_TOKEN=
APIFY_LIVE_ACTOR=statanow/flashscore-scraper-live
CRON_SECRET=

ADMIN_PASSWORD=
NEXT_PUBLIC_APP_NAME=Porra Mundial 2026
NEXT_PUBLIC_APP_URL=
